.privy-login-button,
.privy-logout-button {
  /* Button styles */
  padding: 8px 20px;
  background-color: #1e1f24;
  color: #a9abbe;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  display: block;
  cursor: pointer;
  outline: none;
  border: 2px solid #000000;
  transition: border-color 0.3s ease-in-out;
}

.privy-login-button:hover,
.privy-logout-button:hover {
  border: 2px solid white;
}
.privy-login-button.clicked {
  border: 2px solid white; /* Add white border when the button is clicked */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}



.dropdown-content {
  background-color: #ffffff;
  border-radius: 20px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  position: absolute;
  margin-top: 10px;
  bottom: auto;
  left: auto;
  right: 0%;
}

.dropdown-content p {
  margin: 0;
}

.privy-logout-button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.privy-dropdown {
  background-color: #ffffff00;
  border-radius: 20px;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  min-width: 400;
}


.cred-div {
  border: 1px solid #3a3c46;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  display: flex;
}

.privy-dropdown-text {
  color: #000000;
  margin-right: 10px;
  font-size: 12px;
}

.add-login-button {
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 12px;
}

.cred-div.logout-button-privy {
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.add-login-button.w-button {
  width: auto;

}

.privy-login-button {
  display: flex;
  align-items: center;
}

.icon-container {
  margin-right: 5px;
}

.profile-icon {
  width: 20px;
  height: 20px;
}

.account-text {
  color: #000;
}
